<section class="container">

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-capitalize">Welcome {{userService.activeUser.firstName}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-primary mx-3" aria-current="page">View Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" aria-current="page">View Tutors</a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center:text-capitalize">userId</th>
                    <th class="text-center:text-capitalize">first name</th>
                    <th class="text-center:text-capitalize">last name</th>
                    <th class="text-center:text-capitalize">email id</th>
                    <th class="text-center:text-capitalize"></th>
                    <th class="text-center:text-capitalize"></th>
                    <th class="text-center:text-capitalize"></th>
                    <th class="text-center:text-capitalize"></th>
                    <th class="text-center:text-capitalize"></th>
                    <th class="text-center:text-capitalize"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allTutors">
                    <td>{{user.firstName}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>

</section>